{% extends 'todo/base.html' %}

{% block content %}
{% load static %}

<div id="content" class="container">
    <div class="row margin-vert-30">
        <div class="col-md-12">
            <h2>Your stories:</h2>
            <!-- Filter Buttons -->
            <div class="portfolio-filter-container margin-top-20">
                <ul class="portfolio-filter">
                    <li class="portfolio-filter-label label label-primary">
                        filter by:
                    </li>
                    <li>
                        <a href="#" class="portfolio-selected btn btn-default" data-filter="*">All</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default" data-filter=".private">Private</a>
                    </li>
                    <li>
                        <a href="#"  class="btn btn-default"data-filter=".public">Public</a>
                    </li>

                </ul>
            </div>
            <!-- End Filter Buttons -->
        </div>
        
        <div class="portfolio-group col-md-12 margin-top-30 no-padding">
            
            <div class="row">
                {% for post in todos %}
                {% if post.private %}
                <div class="portfolio-item col-md-4 private">
                    <div class="image-hover">
                        <div>
                                <figure>
                                    <img src="{{post.pic.url}}" alt="image1" style="max-height: 200px;width: 300px;"">
                                    <form class="overlay" action="{% url 'fullstory' %}" method="POST">        
                                        {% csrf_token %}
                                        <input type="hidden" name="post_pk" value="{{post.pk}}">
                                        <a class="expand" href="#" onclick="this.parentNode.submit();">Image Link</a>
                                    </form>
                                </figure>
                                <h3 class="margin-top-20">{{post.title}}</h3>
                                <p class="margin-top-10">{{post.memo|truncatechars:120}}</p>
                                <div>
                                    <form action="{% url 'fullstory' %}" method="POST" >
                                        {% csrf_token %}
                                        <input type="hidden" name="post_pk" value="{{post.pk}}">
                                        <a class="info btn btn-default" href="#" onclick="this.parentNode.submit();" style="right: 0%;width: fit-content;">Read more</a>
                                    </form>
                                    <form action="{% url 'editstory' post.id %}" method="GET" >
                                        <input type="hidden" name="post_pk" value="{{post.pk}}">
                                        <a class="info btn btn-default" href="#" onclick="this.parentNode.submit();"style="left: 0%;width: fit-content; border-radius: 4px;">Edit</a>
                                    </form>
                                </div>
                            </a>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                {% else %}
                <div class="portfolio-item col-md-4 public">
                    <div class="image-hover">
                        <div>
                                <figure>
                                    <img src="{{post.pic.url}}" alt="image1">
                                    <form class="overlay" action="{% url 'fullstory' %}" method="POST">        
                                        {% csrf_token %}
                                        <input type="hidden" name="post_pk" value="{{post.pk}}">
                                        <a class="expand" href="#" onclick="this.parentNode.submit();">Image Link</a>
                                    </form>
                                </figure>
                                <h3 class="margin-top-20">{{post.title}}</h3>
                                <p class="margin-top-10">{{post.memo|truncatechars:120}}</p>
                                <div>
                                    <form action="{% url 'fullstory' %}" method="POST" >
                                        {% csrf_token %}
                                        <input type="hidden" name="post_pk" value="{{post.pk}}">
                                        <a class="info btn btn-default" href="#" onclick="this.parentNode.submit();" style="right: 0%;width: fit-content;">Read more</a>
                                    </form>
                                    <form action="{% url 'editstory' post.id %}" method="GET" >
                                        <input type="hidden" name="post_pk" value="{{post.pk}}">
                                        <a class="info btn btn-default" href="#" onclick="this.parentNode.submit();"style="left: 0%;width: fit-content; border-radius: 4px;">Edit</a>
                                    </form>
                                </div>
                            </a>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        
        </div>
    </div>
</div>
{% endblock %}